<!DOCTYPE html>
<html>
<head>
	<title>Project Assignment 4 - A Color Building Form</title>
	<link rel="stylesheet" type="text/css" href="a-color-building-form.css">
</head>
<body>
	Body
	<div>
		Div
		<form>
			Form
			<h2>red</h2>
			<input type="range" name="red" min="0" max="255" step="5">
			<br>
			<h2>green</h2>
			<input type="range" name="green" min="0" max="255" step="5">
			<br>
			<h2>blue</h2>
			<input type="range" name="blue"	min="0" max="255" step="5">
			<br>
			<h2>alpha</h2>
			<input type="range" name="alpha" min="0" max="1" step="0.01">
			<br>
			<h2>color</h2>
			<input type="text" name="color">
		</form>
	</div>
</body>
</html>