<!DOCTYPE html>
<html>
<head>
	<title>Project Assignment 4: A Login Form</title>
	<link rel="stylesheet" type="text/css" href="a-login-form.css">
</head>
<body>
	<div>
		<h4>No Account? <a href="#">Sign up here</a></h4>
		<form>
			<h2>Login to your account</h2>
			<h3>Username:</h3>
			<input type="text" name="username" id="txt">
			<br>
			<h3>Password:</h3>
			<input type="password" name="Password" id="pswd">
			<br><br>
			<input type="button" value="Login" id="button">
		</form>
	</div>
</body>
</html>