<!DOCTYPE html>
<html>
<head>
	<title>Project Assignment 4: A Questionnaire</title>
	<link rel="stylesheet" type="text/css" href="a-questionnaire.css">
</head>
<body>
<div>
	<h2>Your favorite Greek Meal:</h2>
	<form>
		<input type="radio" name="meal" value="lemon-chicken" checked> Lemon Chicken <br>
		<input type="radio" name="meal" value="babaganoush"> Babaganoush <br>
		<input type="radio" name="meal" value="gyro"> Gyro <br>
		<input type="radio" name="meal" value="kabob"> Kabob <br>
		<input type="radio" name="meal" value="other"> Other 
		<input type="text" name="other" value="Type your fave here!" id="other-txt"> <br>
		<input type="submit" value="Submit" id="button">
	</form>
</div>
</body>
</html>