<!DOCTYPE html>
<html>
<head>
	<title>Project Assignment 4 - A Scheduling Form</title>
	<link rel="stylesheet" type="text/css" href="a-scheduling-form.css"><br>
</head>
<body>
	<div>
		<form>
			<h2>Create a new schedule</h2>
			Date:<br>
			<input type="date" name="date"><br>
			Time:<br>
			<input type="time" name="time"><br>
			Timezone selection:<br>
			<input type="datetime" name="time-zone"><br>
			Message:<br>
			<textarea name="message" rows="10" cols="30"></textarea><br>
			Contact number:<br>
			<input type="tel" name="phone"><br>
			Email address:<br>
			<input type="email" name="email"><br>
			<input type="button" name="button" value="Schedule" id="button">
		</form>
	</div>
</body>
</html>