<!DOCTYPE html>
<html>
<head>
	<title>Project Assignment 4: A Search Form</title>
	<link rel="stylesheet" type="text/css" href="a-search-form.css">
</head>
<body>
	<div>
		<form class="text">
			<p>Your name:</p>
			<input type="first-name" name="name">
			<p>Your Flavor:</p>
			<select class="flavors" name="icecream">
			  <option value="vanilla">Vanilla</option>
			  <option value="strawberry">Strawberry</option>
			  <option value="chocolate">Chocolate</option>
			  <option value="mint">Mint</option>
			  <option value="butter-pecan">Butter Pecan</option>
			  <option value="cotton-candy">Cotton Candy</option>
			</select>
			<input type="submit" name="Submit" id="ic-list">
		</form>
	</div>
</body>
</html>