<!DOCTYPE html>
<html>
<head>
	<title>Project Assignment 4 - A Shipping and Billing Adddress Form</title>
	<link rel="stylesheet" type="text/css" href="a-shipping-and-billing-address-form.css">
</head>
<body>
	<div>
		<form>
			<div>
				<h2>Enter a shipping address</h2>
				First name<br>	
				<input type="text" name="first-name"><br>
				Last name<br>
				<input type="text" name="last-name"><br>
				Address<br>
				<input type="text" name="address"><br>
				City<br>
				<input type="text" name="city"><br>
				Country<br>
				<input type="text" name="country"><br>
			</div>
			<br>
			<div>
				<input type="checkbox" name="same-address" id="chekbox" size="large" >Check if shipping address is the same as billing address
			</div>
			<div>
				<h2>Enter a billing address</h2>
				First name<br>	
				<input type="text" name="first-name"><br>
				Last name<br>
				<input type="text" name="last-name"><br>
				Address<br>
				<input type="text" name="address"><br>
				City<br>
				<input type="text" name="city"><br>
				Country<br>
				<input type="text" name="country"><br>				
			</div>
			<div>
				<input type="button" name="button" value="Update" id="button">
			</div>
		</form>
	</div>
</body>
</html>