body {
	margin: 2% 2% 2% 2%;
	padding: 2% 2% 2% 2%;
	border: 2px solid #aaa;
	text-transform: lowercase;
	font-family: monospace;
	font-size: 18px;
	color: #dab;
	/*display: inline-block;*/
}

div { 
	margin: 2% 2% 2% 2%;
	padding: 2% 2% 2% 2%;
	/*border: 2px solid #aee;*/
	display: inline-block;
	background-color: #cba;
}

form {
	margin: 2% 2% 2% 2%;
	padding: 2% 2% 2% 2%;
	border: 2px solid #add;
	display: inline-block;
	color: #feb;
}

#button {
	font-family: cursive;
	font-size: 24px;
	text-transform: lowercase;
	border: 2px inset #eee;
	background-color: #abc;
	color: #fee;
	font-weight: 800;
}

#chekbox {
	color: #aaa;
	font-family: monospace;
	font-size: 30px;
}