legend {
	font-size: 1em;
	font-family: monospace;
	font-style: italic;
	text-transform: capitalize;
	color: #ade;
	border:	2px solid #666699;
	background-color: #ffa500;
	border-radius: .7em;
}

form {
	margin: 0 auto;
	width: 450px;
	background-color: #339933;
	padding: 1% 1%;
	border: 2px solid #eff;
	border-radius: .85em;
}

form div + div {
	margin-top: 1em;
}

label {
	text-transform: capitalize;
	color: #fac;
	font-size: 22px;
	font-family: monospace;
	font-style: italic;
	border: 2px solid #fbb;
	background-color: #0099ff;
	width: 190px;
	text-align: right;
	display: inline-block;
	font-weight: 800;
	border-radius: .95em
}

input {
	color: #ff3300;
	font-size: 20px;
	font-family: monospace;
	font-style: italic;
	background-color: #eaa;
	border: 2px solid #aee;
	width: 200px;
	box-sizing: border-box;
}

button {
	font-size: 32px;
	font-style: italic;
	font-family: monospace;
	text-transform: capitalize;
	font-weight: 500;	
	color: #990099;
	background-color: #ffff00;
	border-radius: 1.25em
}