<!DOCTYPE html>
<html>
<head>
	<title>Project Assignment 4: A Signup Form</title>
	<link rel="stylesheet" type="text/css" href="a-signup-form.css">
</head>
<body>
	<form class="text">
	<fieldset>
	<legend>Sign up Here:</legend>
		<div>
			<label>First name:</label>
			<input type="text" name="firstname">
		</div>
		<div>
			<label>Last name:</label>
			<input type="text" name="lastname">
		</div>
	  	<div>
	  		<label>Email:</label>
	  		<input type="email" name="email">
	  	</div>
	  	<div>
	  		<label>Date of birth:</label>
	  		<input type="date" name="dob">
	  	</div>
	  	<div>
	  		<label>Password:</label>
	  		<input type="password" name="pswd">
	  	</div>
	  	<div>
	  		<!--
	  		<input type="submit" name="submit" id="button">
	  		-->	
	  		<button>Sign up</button>	
	  	</div>
	</fieldset>
	</form>
</body>
</html>