<!DOCTYPE html>
<html>
<head>
	<title>Project Assignment 4: A Signup Form</title>
	<link rel="stylesheet" type="text/css" href="a-signup-form.css">
</head>
<body>
	<div  class="form">
		<p>Please fill out the form to subcribe:</p>
		<form class="text">
		  First name:<br>
		  <input type="text" name="firstname"><br>
		  Last name:<br>
		  <input type="text" name="lastname"><br>
		  Email:<br>
		  <input type="text" name="email"><br>
		  Date of birth:<br>
		  <input type="text" name="dob"><br>
		  Password:<br>
		  <input type="text" name="pswd"><br><br>
		  <input type="submit" name="submit" id="button">
		</form>
	</div>
</body>
</html>