<!DOCTYPE html>
<html>
<head>
	<title>CSS Project Assignment 3 - Profiles.ModernDevelopers Sidebar</title>
	<link rel="stylesheet" type="text/css" href="sidebar.css">
</head>
<body>
	<h1>Leo DeLeon</h1>
	<div>
		<div class="pics me w100">
			<img src="https://s20.postimg.org/70jkdkwe1/me_in_my_silly_bow_tie.jpg" alt="me in my silly bow tie"/>
		</div>
		<div class="pics ant w50">
			<img src="https://s20.postimg.org/yymmdd6nt/perseverance.jpg" alt="perseverance"/>
		</div>
		<div class="pics dude w50">
			<img src="https://s20.postimg.org/aggqk8zy1/Dead_Sea_1.jpg" alt="Dead-Sea-1"/>
		</div>
	</div>
	<h2>About Me</h2>
	<p>As a child I am very fascinated about how things work and how things are built.  I mostly enjoyed taking toys apart just so I can see and examine what is inside of it.  As an adult I have gone through many different fields of interest but there's always that fascination about building things: I have build libraries of human cDNA clones, turned an empty commercial building space into retail shops and restaurants, constructed residential homes from the ground up, and I even programmed a survey tool that marketing department from a previous job used to generate surveys for fans on the fly.  But my interest has shifted to the internet, seeing beautiful, highly functional website, I can see that there's lots of opportunity to build better and more efficient site, develop apps that people find easy to use, that is my current area of interest.  I aim to take the guess work out of any challenges so that you may relax and have fun (like the dude above).</p>
	<div>
		<a href="#">back to full profile</a>
	</div>
</body>
</html>